@{
  Layout = "_Layout";
}
<h1>Header Here</h1>
<div class="row">
  <div class="col-md-4">
    @Html.ActionLink(" All Flavors", "Index", "Flavors", null, new { @class="btn btn-info fa fa-user" })
  </div>
  <div class="col-md-4">
    @Html.ActionLink(" All Treats", "Index", "Treats", null, new { @class="btn btn-info fa fa-bolt" })
  </div>
  <div class="col-md-4">
    @Html.ActionLink("View All Treats and Flavor Offerings", "SeeAll", "Flavors", null, new { @class="btn btn-info fa fa-bars" })
  </div>
  @* <div class="col-md-4">
    @Html.ActionLink("Create an account", "Index", "Account", null, new { @class="btn btn-info fa fa-user" })
  </div> *@
</div>