@{
  Layout = "_Layout";
}

@model PierresShoppe.Models.Treat
@Html.ActionLink(" All Treats", "Index", null, null, new { @class="btn btn-info fa fa-user" })
<h4>Add Treat</h4>

@using (Html.BeginForm())
{
  <table>
    <tr>
      <td>@Html.LabelFor(model => model.TreatName)</td>
      <td>@Html.TextBoxFor(model => model.TreatName)</td>
    </tr> 
  </table>
  
  <button type="submit" class="btn btn-default fa" ><i class="fa-user-plus"> Add Treat</i></button>
}